<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Follower User</h2>
			<% @user.followers.each do |user| %>
			<table>
				<tr>
					<td>  <%= user.username %> </td>
					<td><%= link_to '詳細', user_path(user) %></td>
				</tr>
			</table>
			<% end %>
		</div>
	</div>
</div>
